.about {
    text-align: center;
    color: #fff;
    font-family: 'Inter', monospace;
    font-size: 1.2rem;
    line-height: 1.6;
}

.about p {
    margin: 0;
    opacity: 0.8;
}

.about span {
    color: #34c759;
    opacity: 1;
    font-weight: bold;
}
