.skills-section {
    margin-top: 80px;
    font-family: 'Roboto Mono', monospace;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    width: 100px;
    height: 100px;
}

.card:hover{
    transform: scale(1.1);
}

.card img {
    width: 60px;
    height: 60px;
}
