.social {
    display: flex;
    gap: 1rem;
    margin-right: 360px;
    margin-top: 40px;
}

.social .github,
.social .linkedin {
    width: 30px;
    height: auto;
    cursor: pointer;
    fill: #a0a0a0;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.social .github:hover,
.social .linkedin:hover {
    fill: #ffffff;
    transform: scale(1.1);
}
