:root {
    --tw-bg-opacity: 1;
}

body {

    box-sizing: border-box;
    background-size: cover;
    background: linear-gradient(135deg, rgba(13, 87, 94, var(--tw-bg-opacity)) 30%, rgba(56, 189, 158, var(--tw-bg-opacity)) 100%) center;
    overflow-y: hidden;
}
